<ion-header>
  <ion-toolbar class="ion-toolbar">
      <h2 id="polinomium">
          Polinomium
      </h2>
      <ion-buttons>
          <ion-back-button defaultHref="/inicio" style="float:left;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="titulo">
    <h1 class="nomeLicao">Seu rank</h1>
  </div>
  <div class="titulo1">
    <h1 class="nomeLicao">{{rankingFinal}}</h1>
  </div>
  <div class="titulo">
    <h1 class="nomeLicao">Sua ofensiva</h1>
  </div>
  <div class="titulo1">
    <h1 class="nomeLicao">{{usuario.ofensiva.length}}</h1>
  </div>
</ion-content>
