<ion-content padding>
  <div class="ion-container" text-center>
  <form [formGroup]="fGroup" (ngSubmit)="autenticar()">
      <ion-img src="/assets/logo.png" id="logo"></ion-img>
      <div class="input">
        <ion-label position="fixed">Username</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
        <div class="erroValidacao">
          <p *ngIf="fGroup.get('username').errors?.required && fGroup.get('username').dirty">Username obrigatório</p>
        </div>
      </div>
      <div class="input">
        <ion-label position="fixed">Senha</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
        <div class="erroValidacao">
          <p *ngIf="fGroup.get('senha').errors?.required && fGroup.get('senha').dirty">Senha obrigatória</p>
        </div>
      </div>
      <div class="input">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="cancelar()" color="danger"><span>Cancelar</span></ion-button>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-button expand="block" type="submit" color="success"><span style="color:black;">Fazer Login</span></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div text-center>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <a href="/add-usuario" id="signIn">Criar uma conta</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  </form>
  </div>
  </ion-content>