#polinomium{
    float:right;
    // font-weight: bolder;
    font-size: 20px;
    position: relative;
    top:-5%;
    right:35%;
    // margin-bottom: 3%;
    // text-align: center;
}

ion-toolbar {
    --border-style: none;
    background-color: white;
}

ion-header{
    background-color: white;
}

.toolbar-container{
    background-color: white;
}


#pagina{
    position: absolute;
    left:5%;
    top:3%;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -3px;
}

#emailAmigo{
    position: relative;
    background-color: rgb(227, 226, 226);
    // color: rgb(21, 21, 21) !important; //placeholder color
    border:0;
    padding-left:2% !important;
    border-radius: 5px;
    margin:5%;
    width:90%;
    border: 1px solid rgba(128, 128, 128, 0.313);
    margin-top:25%;
}

#semAmigos{
    text-align: center;
    padding:5%;
    // background-color:rgba(232, 232, 232, 0.362);
    // border:1px solid rgb(185, 185, 185);
    width:100%;
    border-radius: 15px;
    color:gray;
    // margin-left:5%;

}

.amigos{
    width:90%;
    margin-left:5%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
    border:1px solid rgba(128, 128, 128, 0.354);
    border-radius: 15px;
    background-color: rgba(139, 152, 176, 0.09);
    height: 40vh;
    overflow: auto;
}

.olho{
    position:absolute;
    right:5%;
    background: none;
    font-size: 20px;
    color:black;
    vertical-align: center;
}


.usuarioPopover{
    padding-right:8%;
    padding-left:8%;
    padding-bottom:8%;
    overflow: hidden;
    // padding-right:30%;
}

.popoverAtributo{
    animation: fadeIn 2s;
    font-weight: bolder;
    margin-bottom: -5%;
}

.usuarioPopoverConteudo{
    animation: shaking infinite 2s;
    // animation: fadeIn 2s;
    padding-bottom:3%;
    margin-bottom:5%;
    border-bottom: 1px solid rgba(48, 203, 255, 0.349);
}

ion-popover{
    overflow: hidden;
}

.adicionarAmigo{
    position:absolute;
    right:15%;
    background:none;
    font-weight: bolder;
    font-size:25px; 
    color:rgb(0, 149, 255);
    transition-duration: 1s;
}

.adicionarAmigo:focus{
    font-size: 28px;
    transition-duration: 1s;
}

.usuarioPopover{}

.usuarioItem{
    border-radius: 10px;
    border:3px solid rgba(9, 25, 80, 0.179);
    margin-top:3%;
    height:8vh;
    background-color: white;
}

#listUsuarios{
    background: transparent;
}

.nomeUsuario{
    font-weight: bolder;
}

.emailUsuario{
    float:left;
    position: absolute;
    bottom:-25%;
    padding-top:3%;
    font-size:small;
    opacity: 60%;
}

@keyframes fadeIn{
    from{
        opacity: 40%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes shaking{
    0% {letter-spacing: 0px;}
    50% {letter-spacing: 0.5px;}
    100% {letter-spacing: 0px;}
}