<ion-header>
  <ion-toolbar class="ion-toolbar">
      <h2 id="polinomium">
          Polinomium
      </h2>
      <ion-buttons>
          <ion-back-button defaultHref="inicio" style="float:left;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 id="pagina">Amigos</h1>
    <div class="input">
      <ion-input (ionInput)="atualizarLista()" [(ngModel)]="email" placeholder="Adicione o e-mail aqui" id="emailAmigo" type="text"></ion-input>
    </div>
  <div class="amigos" *ngIf="amigosAtualizados">
    <ion-list no-lines id="listUsuarios" *ngIf="usuariosSelecao.length!=0 && usuariosSelecao!=amigos">
      <ion-item lines="none" no-lines class="usuarioItem" *ngFor="let usuario of usuariosSelecao">
        <p class="nomeUsuario">{{usuario.nome.substring(0, 15)}}</p>
        <p class="emailUsuario">{{usuario.email}}</p>
        <button id="trigger{{usuario.id}}" class="olho"><ion-icon name="eye-outline"></ion-icon></button>
        <button class="adicionarAmigo" (click)="adicionarAmigo(usuario.id)"><ion-icon name="add-outline"></ion-icon></button>
        
        <ion-popover trigger="trigger{{usuario.id}}"  alignment="end">
          <ng-template>
            <ion-content>
              <div class="usuarioPopover">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                     <p class="popoverAtributo">Nome</p>
                     <p class="usuarioPopoverConteudo">{{usuario.nome}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <p class="popoverAtributo">E-mail</p>
                      <p class="usuarioPopoverConteudo">{{usuario.email}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <p class="popoverAtributo">XP</p>
                      <p class="usuarioPopoverConteudo">{{usuario.xp}} XP</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="popoverAtributo">Ofensiva</p>
                      <p class="usuarioPopoverConteudo">{{usuario.ofensiva.length}} dia(s)</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>

      </ion-item>
    </ion-list>

    <ion-list no-lines id="listUsuarios" *ngIf="usuariosSelecao.length!=0 && usuariosSelecao===amigos">
      <ion-item lines="none" no-lines class="usuarioItem" *ngFor="let usuario of usuariosSelecao">
        <p class="nomeUsuario">{{usuario.nome.substring(0, 15)}}</p>
        <p class="emailUsuario">{{usuario.email}}</p>
        <button id="trigger{{usuario.id}}" class="olho"><ion-icon name="eye-outline"></ion-icon></button>
        <button class="adicionarAmigo" (click)="confirmarExclusao(usuario.id)" style="color:red;"><ion-icon name="remove-outline"></ion-icon></button>
        <ion-popover trigger="trigger{{usuario.id}}"  alignment="end">
          <ng-template>
            <ion-content>
              <div class="usuarioPopover">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                     <p class="popoverAtributo">Nome</p>
                     <p class="usuarioPopoverConteudo">{{usuario.nome}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <p class="popoverAtributo">E-mail</p>
                      <p class="usuarioPopoverConteudo">{{usuario.email}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <p class="popoverAtributo">XP</p>
                      <p class="usuarioPopoverConteudo">{{usuario.xp}} XP</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="popoverAtributo">Ofensiva</p>
                      <p class="usuarioPopoverConteudo">{{usuario.ofensiva.length}} dia(s)</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>

      </ion-item>
    </ion-list>

    <div *ngIf="amigosAtualizados">
      <div id="semAmigos" *ngIf="amigos.length===0">Você ainda não tem amigos</div>
    </div>
  </div>
</ion-content>
