ion-toolbar {
    --border-style: none;
    position:absolute;
}

#logo{
    height:100px;
    align-items: center;
    position:absolute;
    bottom:100%;
    left:3%;
}

.nomePag{
    position: absolute;
    bottom:100%;
    margin-left: 3%;
    font-size: 40px;
    letter-spacing: -3px;
    font-weight: 800;
    animation: shaking 3s infinite ;
}

@keyframes shaking{
    0% {letter-spacing: -3px;margin-left: 3%;}
    50% {letter-spacing: -2px;margin-left: 5%;}
    100% {letter-spacing: -3px;margin-left: 3%;}
}

.ion-container{
    align-items: center;
    // width:100%;
    position:absolute;
    // left: 0;
    // right: 0;
    // margin:0 auto;
    top:15%;
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    color: white;
  
  }

.erroValidacao{
    font-size: smaller;
    color:red;
}

ion-header{
    border:none;
}

ion-input{
    background-color: rgb(227, 226, 226);
    // color: rgb(21, 21, 21) !important; //placeholder color
    border:0;
    padding-left:2% !important;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.313);
    margin-top:5%;
    animation: input 2s infinite 1s;
    box-sizing: content-box;
}

::placeholder{
    color:transparent;
}

.input{
    padding:1%;
}

@keyframes input{
    0% {background-color: rgb(227, 226, 226);}
    50% {background-color: rgba(227, 226, 226, 0.458);}
    0% {background-color: rgb(227, 226, 226);}
}

ion-button{
    font-weight: bold;
}

ion-label{
    font-weight: bolder;
    letter-spacing: -1px;
    margin-bottom:0%;
    margin-top:5%;
}

