<ion-header>
  <ion-toolbar class="ion-toolbar">
      <h2 id="polinomium">
          Polinomium
      </h2>
      <ion-buttons>
          <ion-menu-button style="float:left;"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 id="pagina">Lições</h1>
  <ion-grid>
      <ion-row *ngIf="licoesAtualizadas" no-adding id="row">
        <ion-col size=12  *ngFor="let licao of licoes; let i = index">
            <img *ngIf="licao.isLocked" class="trancado" src="/assets/unlocked.png">
            <img *ngIf="!licao.isLocked" class="trancado" src="/assets/padlock.png">
                <div (click)="acessarLicao(licao.id)"  class="col"[style.color]="getContrastColor(colors[i%4])" [style.background-color]="colors[i%4]" >
                    <div [style.background-color]="colors[i%4]" >
                        <p class="nomeLicao">{{licao.nome}}</p>
                        <div class="xp" [style.color]="getContrastColor(colors[i%4])">
                            {{licao.recompensa}} XP
                        </div>
                    </div>
                </div>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>