// @font-face {
//     font-family: Poppins;
//     src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
//   }

*{
    border:none;
}

#logo{
    height:150px;
    align-items: center;
    position:relative;
    top:25%;
}

.ion-container{
    align-items: center;
    // width:100%;
    position:relative;
    // left: 0;
    // right: 0;
    // margin:0 auto;
    top:15%;
}

ion-input{
    background-color: rgb(227, 226, 226);
    // color: rgb(21, 21, 21) !important; //placeholder color
    border:0;
    padding-left:2% !important;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.313);
    margin-top:1%;
}

::placeholder{
    color:black;
}

.input{
    padding:5%;
}

ion-button{
    font-weight: bold;
}

ion-label{
    font-weight: bolder;
    letter-spacing: -1px;
    margin-bottom:2%;
}

.erroValidacao{
    color:red;
    font-size:smaller;
}

#row{
    margin:3%;
    position:absolute;
    top:12%;
}

.col{
    font-size:30px;
    background-color: red;
    margin:0.5%;
    // padding-top:
    // margin-top:2%;
    border-radius: 20px;
    padding-bottom:5;
    padding-left:5%;
    padding-right:4%;
    height:20vh;
    // @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    font-family: 'Poppins';
    letter-spacing: -3px;
    font-weight: bolder;
    padding-top:1%;
}

.trancado{
    float:right;
    height:2vh;
    margin:3%;
    margin-top:4%;
}

.alertImg{
    height:1vh;
}

.xp{
    background-color: rgba(255, 255, 255, 0.111);
    color:black;
    width:20%;
    position: absolute;
    right:5%;
    bottom:10%;
    text-align: center;
    padding:2%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Karla';
    letter-spacing: 1px;
}

ion-menu-button{
    float:left;
}

#pagina{
    position: absolute;
    left:5%;
    top:3%;
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -3px;
}

.nomeLicao{
    font-size:35px;
    font-family: 'Poppins';
}

#polinomium{
    float:right;
    // font-weight: bolder;
    font-size: 20px;
    position: relative;
    top:-5%;
    right:35%;
    // margin-bottom: 3%;
    // text-align: center;
}

ion-toolbar {
    --border-style: none;
    background-color: white;
}

ion-header{
    background-color: white;
}

.toolbar-container{
    background-color: white;
}
