.bloqueado{
    color: bisque;
    display: block;
}

ion-back-button{
    float:left;
}

#pagina{
    position: absolute;
    left:5%;
    top:12%;
    font-family: Poppins;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -3px;
}

#polinomium{
    float:right;
    // font-weight: bolder;
    font-size: 20px;
    position: relative;
    top:-5%;
    right:35%;
    // margin-bottom: 3%;
    // text-align: center;
}
ion-toolbar {
    --border-style: none;
}

.nomeLicao{
    font-weight: 800;
    letter-spacing: -2px; 
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');  
    font-family: 'Poppins';
    font-size: 35px;
    padding: 5%;
    background-color: white;
}

.conteudoLicao{
    padding-left:5%;
    padding-top: 5%;
    border:1px solid white;
    outline: none;
    float: left;
    position: absolute;
    top:10%;
    z-index: -1;
    padding-right:3%;
    // color:rgb(247, 247, 247);
    background-color:white;
    width:100%;
    height:100vh;
    line-height: 35px;
    font-size:19px;
    justify-content: end;
}

.formula{
    color:red;
    width:100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: bolder;
    color:rgba(0, 0, 0, 0.641);
}

.texto{
    color:rgba(0, 0, 0, 0.789);
    font-weight: 300;
    padding-left:1%;
    padding-right:5%;
    margin-left:4%;
    margin-top: 5%;
    line-height: 30px;
    text-align: justify;
}

#exercitar{
    font-weight: 800;
    position:absolute;
    bottom:2%;
    margin:5%;
    right:0;
}

.footer{
    width:100%;
    padding:2%;
    height:8vh;
    position: relative;
    bottom:0;
}