<ion-header>
  <ion-toolbar class="ion-toolbar">
      <h2 id="polinomium">
          Polinomium
      </h2>
      <ion-buttons>
          <ion-back-button defaultHref="/inicio" style="float:left;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="licaoChegou">
    <h1 class="nomeLicao">{{licao.nome}} </h1>
    <!-- <ion-textarea readonly contenteditable="true" class="conteudoLicao">{{licao.conteudo}}</ion-textarea> -->
    <div *ngIf="tiposdeTextoCarregou">

      <div  *ngFor="let paragrafo of paragrafos; let i = index">
        <p [ngClass]="tiposdeTexto[i]">
          {{paragrafo}}
        </p>  
        
      </div>
    </div>

  </div>
  <div class="footer">
    <ion-button id="exercitar" (click)="exercitar(licao.id)" color='warning'>Exercitar!!!</ion-button>
  </div>
</ion-content>
