<ion-header>
  <ion-toolbar class="ion-toolbar">
      <h2 id="polinomium">
          Polinomium
      </h2>
      <ion-buttons>
          <ion-back-button defaultHref="/inicio" style="float:left;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item-sliding>
      <ion-item routerLink="/senha" detail> 
        <ion-label>Trocar senha</ion-label>
        <ion-icon slot="end" name="key-outline"  color="primary"></ion-icon>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item detail>
        <ion-label (click)="excluir()" >Excluir Conta</ion-label>
        <ion-icon slot="end" name="settings-outline"  color="primary"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
