 .bloqueado{
    color: bisque;
    display: block;
}

ion-back-button{
    float:left;
}

#pagina{
    position: absolute;
    left:5%;
    top:12%;
    font-family: Poppins;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -3px;
}

#polinomium{
    float:right;
    // font-weight: bolder;
    font-size: 20px;
    position: relative;
    top:-5%;
    right:35%;
    // margin-bottom: 3%;
    // text-align: center;
}
ion-toolbar {
    --border-style: none;
}

.nomeLicao{
    font-weight: 800;
    letter-spacing: -2px; 
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');  
    font-family: 'Poppins';
    font-size: 50px;
    padding: 1%;
    text-align: center;
}

.titulo{
    margin-top: 80px;
   //background-color: #4169E1;
    height: 100px;
    width: 50%;
    padding: 0.5px;
    margin: 50px auto;
    //border-radius: 50%;
}

.titulo1{
    margin-top: 80px;
   //background-color: #4169E1;
    height: 100px;
    width: 50%;
    padding: 0.5px;
    margin: 50px auto;
    //border-radius: 50%;
}

.conteudoLicao{
    padding-left:5%;
    padding-top: 5%;
    border:1px solid white;
    outline: none;
    float: left;
    position: absolute;
    top:10%;
    z-index: -1;
    padding-right:3%;
    // color:rgb(247, 247, 247);
    background-color:white;
    width:100%;
    height:100vh;
    line-height: 35px;
    font-size:19px;
    justify-content: end;
}

#exercitar{
    font-weight: 800;
    position:absolute;
    bottom:2%;
    margin:5%;
    right:0;
}

.footer{
    width:100%;
    padding:2%;
    position: absolute;
    top:125%;
}