<ion-header>
  <ion-toolbar class="ion-toolbar">
      <h2 id="polinomium">
          Polinomium
      </h2>
      <ion-buttons>
          <button class="botaoVoltar" (click)="voltarLicao()"> < Voltar à lição</button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides>
  <ion-slide *ngFor="let exercicio of exercicios">
    <div class='slide'>
      <p class="arraste">Arraste para o lado > > > </p>
      <h1 class='enunciado'>
        {{exercicio.enunciado}}
      </h1>
      <textarea class="conteudo" readonly>{{exercicio.conteudo}}</textarea>
      <ion-grid class="gridAlternativas">
        <ion-row>
          <ion-col class='alternativa' (click)="clicar(exercicio, exercicio.a)" size=4>{{exercicio.a}}</ion-col>
          <ion-col class='alternativa' (click)="clicar(exercicio, exercicio.b)" size=4>{{exercicio.b}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='alternativa' (click)="clicar(exercicio, exercicio.c)" size=4>{{exercicio.c}}</ion-col>
          <ion-col class='alternativa' (click)="clicar(exercicio, exercicio.d)" size=4>{{exercicio.d}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>  

</ion-slides>
</ion-content>