.slide{
    // text-align: center;
    height:70vh;
    width:85%;
    border-radius: 15px;
    margin-top:30%;
    background-color: rgba(176, 195, 216, 0.245);
    border:2px solid rgba(1, 37, 81, 0.524);
}

.enunciado{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top:35%;
    padding-left:5%;
    padding-right:5%;
    width:80%;
}

.conteudo{
    top:33%;
    background-color: transparent;
    border:none;
    outline: none;
    padding:0;
    height:10vh;
    width: 80%;
    
    position: relative;
}

.arraste{
    float: right;
    margin-right: 5%;
    font-size: 10px;
    color: rgb(19, 101, 159);
}

.gridAlternativas{
    width: 90%;
    position: relative;
    top:35%;
    left:7%;
}

ion-row{
    margin-top: 5%;
}

.alternativa{
    border:1px solid rgba(19, 101, 159, 0.56);
    padding:10%;
    float:left;
    border-radius: 30px;
    margin-left:5%;
    font-family: 'Poppins';
    font-weight: bolder;
}

ion-col:hover{
    background-color: rgba(19, 101, 159, 0.219);
    animation: fade 2s ;
}

@keyframes fade{
    from{
        background-color: rgba(19, 101, 159, 0.219);
    }
    to{
        background-color: transparent;
    }
}

.botaoVoltar{
    background-color: transparent;
    color:blue;
    background: none;
    font-weight: bolder;
}

.finalizar{
    height:30vh;
    width:85%;
    border-radius: 15px;
    margin-top:70%;
    background-color: rgba(182, 220, 142, 0.245);
    border:2px solid rgba(0, 73, 34, 0.524);
}

#polinomium{
    float:right;
    // font-weight: bolder;
    font-size: 20px;
    position: relative;
    top:-5%;
    right:35%;
    // margin-bottom: 3%;
    // text-align: center;
}
ion-toolbar {
    --border-style: none;
}