  

  <ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-buttons class="ion-no-border" slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <form [formGroup]="fGroup" (ngSubmit)="submitForm()">
  <div class="ion-container" text-center>
      <ion-img src="/assets/logo.png" id="logo"></ion-img>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div class="input">
              <ion-label position="fixed">Nome</ion-label>
              <ion-input formControlName="nome" type="text"></ion-input>
              <div class="erroValidacao">
                <p *ngIf="fGroup.get('nome').errors?.required && fGroup.get('nome').dirty">Nome obrigatório</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <div class="input">
              <ion-label position="fixed">E-mail</ion-label>
              <ion-input formControlName="email" type="text"></ion-input>
              <div class="erroValidacao">
                <p *ngIf="fGroup.get('email').errors?.email && fGroup.get('email').dirty">E-mail inválido</p>
                <p *ngIf="fGroup.get('email').errors?.required && fGroup.get('email').dirty">E-mail obrigatório</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="7">
            <div class="input">
              <ion-label position="fixed">Data de Nascimento</ion-label>
              <ion-input type="date" formControlName="dataNascimento"></ion-input>
              <div class="erroValidacao">
                <p *ngIf="fGroup.get('dataNascimento').errors?.required && fGroup.get('dataNascimento').dirty">Data obrigatória</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="input">
              <ion-label position="fixed">Username</ion-label>
              <ion-input type="text" formControlName="username"></ion-input>
              <div class="erroValidacao">
                <p *ngIf="fGroup.get('username').errors?.required && fGroup.get('username').dirty">Username obrigatório</p>
                <p *ngIf="fGroup.get('username').errors?.userDomain && fGroup.get('username').dirty">Username já existente</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="input">
              <ion-label position="fixed">Senha</ion-label>
              <ion-input type="password" formControlName="senha"></ion-input>
              <div class="erroValidacao">
                <p *ngIf="fGroup.get('senha').errors?.required && fGroup.get('senha').dirty">Senha obrigatória</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      
      <div class="input">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="cancelar()" color="danger"><span>Cancelar</span></ion-button>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-button expand="block" type="submit" color="primary"><span>Cadastrar</span></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </form>
</ion-content>
  