#logo{
    height:150px;
    align-items: center;
    position:relative;
    top:15%;
}

.ion-container{
    align-items: center;
    // width:100%;
    position:relative;
    // left: 0;
    // right: 0;
    // margin:0 auto;
    top:15%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    color: white;
  
  }

.erroValidacao{
    font-size: smaller;
    color:red;
}

ion-header{
    border:none;
}

ion-input{
    background-color: rgb(227, 226, 226);
    // color: rgb(21, 21, 21) !important; //placeholder color
    border:0;
    padding-left:2% !important;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.313);
    margin-top:1%;
}

::placeholder{
    color:transparent;
}

.input{
    padding:1%;
}

ion-button{
    font-weight: bold;
}

ion-label{
    font-weight: bolder;
    letter-spacing: -1px;
    margin-bottom:2%;
}