<ion-header>
  <ion-toolbar class="ion-toolbar">
      <h2 id="polinomium">
          Polinomium
      </h2>
      <ion-buttons>
          <ion-back-button defaultHref="/inicio" style="float:left;"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <form [formGroup]="fGroup" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-label position="stacked">Senha atual</ion-label>
        <ion-input formControlName="senhaAtual" type="password"></ion-input>
        <div>
          <p *ngIf="fGroup.get('senhaAtual').errors?.required && fGroup.get('senhaAtual').dirty">Senha atual obrigatória</p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nova senha</ion-label>
        <ion-input formControlName="novaSenha" type="password"></ion-input>
        <div>
          <p *ngIf="fGroup.get('novaSenha').errors?.required && fGroup.get('novaSenha').dirty">Senha nova obrigatória</p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmação da nova senha</ion-label>
        <ion-input formControlName="confirmNovaSenha" type="password"></ion-input>
        <div>
          <p *ngIf="fGroup.get('confirmNovaSenha').errors?.required && fGroup.get('confirmNovaSenha').dirty">Confirmação da nova senha atual obrigatória</p>
        </div>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" type="submit" [disabled]="!fGroup.valid" color="success">Salvar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-list>
</ion-content>
